.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply max-w-[70px]  right-0 m-auto bg-white px-2 rounded-[25px] flex py-[6px] justify-center shadow-md;
}
.swiper-pagination-bullet {
  transition-timing-function: ease;
  @apply bg-[green] transition-[transform]
    duration-[300ms];
  &.swiper-pagination-bullet-active {
    transform: scale(2);
    background-color: black;
  }
}
